<% layout('/layouts/boilerplate') %>
<div class="row">
    <div class="col-8 offset-2">
        <h3><b>Edit Your Existing List</b> </h3>
    <form method="POST" novalidate class="row g-3 needs-validation" action="/listings/<%=listing._id%>?_method=PUT">
        <div class="mb-3">
            <label for="title" class="form-label"> Title</label>
            <input type="text" required  value="<%=listing.title%>" name="newListing[title]" class="form-control">
            <div class="valid-feedback">Done 🌴 </div>
            <div class="invalid-feedback">Please enter the valid Title</div> 
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea class="form-control" value="<%=listing.description%>" name="newListing[description]"></textarea>
            <div class="valid-feedback">Done 🌴 </div>
            <div class="invalid-feedback">Please enter the Description</div> 
        </div>
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label"> Price</label>
            <input type="number" required name="newListing[price]" value="<%=listing.price%>" class="form-control">
            <div class="valid-feedback">Done 🌴 </div>
            <div class="invalid-feedback">Please enter the valid price</div> 
        </div>
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label"> Location</label>
            <input type="text" required name="newListing[location]" value="<%=listing.location%>" class="form-control">
            <div class="valid-feedback">Done 🌴 </div>
            <div class="invalid-feedback">Please enter the valid Location</div> 
        </div>
        <div class="mb-3">
            <label for="image" class="form-label"> Image URL </label>
            <input type="text" required name="newListing[image]"value="<%=listing.image%>" class="form-control">
            <div class="valid-feedback">Done 🌴 </div>
            <div class="invalid-feedback">Please enter the valid URL</div> 
        </div>
        <div class="mb-3">
            <label for="Country"  class="form-label"> Country </label>
            <input type="text" required name="newListing[country]" value="<%=listing.country%>" class="form-control">
            <div class="valid-feedback">Done 🌴 </div>
            <div class="invalid-feedback">Please enter the valid Country name</div> 
        </div>
            <button class="btn btn-danger">Submit your details</button>
        </form>
    </div>
</div>