 <% layout('/layouts/boilerplate') %>
    <p>Welcome to Wanderlust!</p>
    <h3>Listing particular detail</h3>
    <!-- <ul>
        <li><%=listing.title %></li>
        <li><%=listing.description %></li>
        <li><%=listing.price%>&#8377;</li>
        <li><%=listing.location%></li>
        <li><%=listing.country%></li>
    </ul>
    <a href="/listings/<%=listing._id%>/edit">Edit this listing</a>
    <br><br>
    <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST">
        <button>Delete this </button>
    </form> -->
<div class="row mt-3">
<div class="col-8 offset-2">
<h3><%= listing.title %></h3>
</div>

<div class="card col-8 offset-2 show-card">
    <img src="<%= listing.image %>" class="card-img-top show-img" alt="<%= listing.title %>">
    <div class="card-body">
        <p class="card-text mt-2"><%=listing.description %></p>
        <hr>
        <ul>
            <li class="info-item"><b>&#8377; <%= listing.price %></b> / night</li>
            <li class="info-item"><%= listing.location %></li>
            <li class="info-item"><%= listing.country %></li>
        </ul>
    </div>
</div>

<div class="col-8 offset-2 btn-container">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-2">Edit</a>

    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>

</div>